*{
    margin: 0;
    padding: 0;
    font-family: "Orbitron" , sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 10rem;
    height: 100vh;

    background-color: rgba(151, 123, 123, 0.571);
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00000079;
}
.container h1{
    color: #000000d9;
    text-shadow: 2px 2px 3px #0000007d;
    font-size:26px;

}
.timer{
    display: flex;
    font-size: 55px;
    font-weight: bold;

}
.time{
    display: flex;
    align-items: center;
    color: #656363c0;
    min-width:90px ;
    margin: 0 10px;
    
}
.separador{
    font-size: 50px;
    padding: 0 9px;
    
}
#milliseconds{
    font-size: 25px;
}

.buttons{
    display: flex;
    gap: 2rem;
}
.btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2 ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}

#start{
    background-color: #0000009f;
    color: white;

}
#pause, #resume{
    display: none;
}